/* Primary */
$color-primary-default: #1F75CB;
$color-primary-hover: #1068BF;
$color-primary-active: #0B5CAD;
$color-primary-disabled: #DCDCDE;

/* Secondary */
$color-secondary-default: #FFFFFF;
$color-secondary-hover: #ECECEF;
$color-secondary-active: #DCDCDE;

/* Border */
$color-border-default: rgba(0, 0, 0, 0.15);
$color-border-hover: rgba(18, 19, 22, 0.50);
$color-border-acrive: #1C1C1C;
$color-border-disabled: rgba(0, 0, 0, 0.15);

/* Text */
$color-font-primary: #1C1C1C;
$color-font-secondary: #FFFFFF;
$color-font-disabled: #8E8E8E;
$color-font-placeholder: #D9D9D9;

/* Other */
$color-bronze: #9E6955;
$color-error: #EE4222;